.navBar{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 30px;
    margin-left: 50px;
    text-decoration: line-through;
    text-transform: uppercase;
}

.me-auto{

    text-align: center;
    margin: 0px auto;
}